<div
  class="ingredients-preview {% if section.settings.alt %} index-section--alt{% endif %} {% if section.settings.alt_no_gap %}index-section--no-gap{% endif %} {% if section.settings.alt_no_bottom_gap %}index-section--no-bottom-gap{% endif %}"
  data-section-id="{{ section.id }}"
  data-section-type="ingredients-preview"
>
  <div class="page-width" data-aos>
    <div class="ingredients-preview">
      <div class="ingredients-preview__intro appear-delay-{% increment delay %}">
        {%- if section.settings.activecare_richtext != blank -%}
          <div
            class="
              ingredients-preview__title
              section-header"
          >
            <h3 class="section-header__title appear-delay-{% increment delay %}">{{ section.settings.activecare_richtext }}</h3>
          </div>
        {%- endif -%}
      </div>
      <div class="ingredients-preview__content">
        {%- if section.settings.heading != blank -%}
        
        <div
            class="
              ingredients-preview__title
              section-header appear-delay-{% increment delay %}"
        >
          <h2 class="section-header__title">{{ section.settings.heading }}</h2>
        </div>
        {%- endif -%}
        
        {%- if section.settings.text != blank -%}

        <div class="section-header__description appear-delay-{% increment delay %}">
          {{ section.settings.text }}
        </div>

        {%- endif -%}
          
      </div>
    </div>
    <div class="ingredients-badges__container">
      {% for block in section.blocks %}
        <div class="ingredients-badges__content appear-delay-{% increment delay %}">
          <img class="ingredients-badges__img lazyload" data-src="{{ block.settings.badge_img | image_url: width: '300' }}" alt="{{ block.settings.badge_img_alt }}" >
        </div>
      {% endfor %}
    </div>
  </div>
</div>


{% schema %}
  {
    "name": "Ingredients Preview",
    "class": "index-section",
    "settings": [
      {
        "type" : "richtext",
        "id" : "activecare_richtext",
        "label" : "Intro text"
      },
      {
        "type" : "text",
        "id" : "heading",
        "label" : "Heading"
      },
      {
        "type" : "richtext",
        "id" : "text",
        "label" : "Text"
      },
      {
        "type" : "range",
        "id" : "badges_range",
        "label" : "Number of badges",
        "min" : 1,
        "max" : 5,
        "default" : 2
      },
      {
        "type": "checkbox",
        "id": "alt",
        "label": "Use alternate colors"
      },
      {
        "type": "checkbox",
        "id": "alt_no_gap",
        "label": "Remove top gap on alt"
      },
      {
        "type": "checkbox",
        "id": "alt_no_bottom_gap",
        "label": "Remove bottom gap on alt"
      }
    ],
    "blocks": [
      {
        "type": "text_block",
        "name": "Column",
        "settings": [
           {
             "type" : "image_picker",
             "id" : "badge_img",
             "label" : "Badge image"
           },
          {
            "type" : "text",
            "id" : "badge_img_alt",
            "label" : "Badge description"
          }
        ]
      }
    ],
    "presets": [
      {
        "name": "Ingredients preview",
        "blocks": [
          {
            "type": "text_block"
          },
          {
            "type": "text_block"
          }
        ]
      }
    ]
  }
{% endschema %}